body { font-family: Arial; }
h1 {
 font-size: 32pt;
}
p { font-size: 14pt; }
ul {
 font-size: 14pt;
 list-style-type: square;
}
p.greeting { font-size: 24pt; }
p { font-size: 14pt; }
p.greeting { font-size: 24pt; }
.picture img {
	text-align: center; 
	width: 45%; 
}
h1 {font-family: Verdana;}
strong {font-style: italic;}
.advertising {
	margin-left :30pt; 
	font-size: 12pt;
	margin-top: 2pt;
	margin-bottom: 2pt;
}
header {text-align: center;}
footer {text-align: right;}
.bar-title {
 font-variant-caps: small-caps;
 font-size: 60pt;
}
.clock {
	font-size: larger;
	font-variant-numeric: oldstyle-nums;
}
.forest {
	display: block;
	text-align: left;
	text-decoration: none;
	color:rgb(52, 46, 83);
}
nav {
 background-color: blanchedalmond;
 float: left;
 width: 200px;
 margin: 10px 0px 10px 10px;
 padding: 20px;
 border-radius: 10px;
}
nav div {
 font-size: 24pt;
 margin: 10px 0px;
}
main { margin-left: 300px; }
ul li::marker {
 font-size: 150%;
 color: orange;
}