table.price-list th, table.price-list td {
 border: rgb(47, 44, 44) thin solid;
 padding: 2pt;
}
table.price-list td:last-child {
	border: none;
}
table.price-list td:first-child {
	border: rgb(47, 44, 44) thin solid;
}
.price {
	font-size: larger;
	background-color: lightgray;
}
thead {
	color: white;
	background-color: gray;
}
tfoot{
	font-style: italic;
	text-align: right;
}
table.catalog td {
 border-bottom: black thin dotted;
 padding: 3pt;
}
table.catalog img { width: 200px; }
table.catalog tr:last-child td {
	border-bottom: none;
}
table.catalog h3 + p::first-letter {
 font-size: 150%;
 background-color: blanchedalmond;
}
nav {
 background-color: blanchedalmond;
 float: left;
 width: 200px;
 margin: 10px 0px 10px 10px;
 padding: 20px;
 border-radius: 10px;
}
nav div {
 font-size: 24pt;
 margin: 10px 0px;
}
main { margin-left: 300px; }
body { font-family: Arial; }
header {text-align: center;}
footer {text-align: right;}
.bar-title {
 font-variant-caps: small-caps;
 font-size: 60pt;
}
fieldset {
	margin-right: 1500px;
}
